
<div class="row">
    <div class="col-lg-12 col-md-12 md-margin-b-50 col-sm-12 sm-margin-b-50">
        <div class="margin-b-20">
            <div class="">
                <img class="img-responsive"
                    src="img/Compressed Images/Compressed Pictures1/Flick Finder.png"
                    alt="Flick Finder Home Page">
            </div>
        </div>
        <h4><a href="https://tmdb-flickfinder.herokuapp.com/">Flick Finder</a> <span
                class="text-uppercase margin-l-20">Completed 2019</span></h4>
        <p>Flick Finder was a way for me to combine my jQuery and React skills in order to practice making
            API calls to The Movie Database API. The application can search for any movie in the database.
            The application is also fully responsive and made using the Reactstrap library.</p>
        <p><strong>Techologies Used: </strong> React.js, JavaScript, Python, Django, HTML5, CSS3, Sqlite,
            The Movie Database API</p>
        <a class="link" href="https://github.com/jalani2727/TMDb-Flick-Finder">Github Repo</a>
    </div>

    <div class="col-lg-12 col-md-12 md-margin-b-50 col-sm-12 sm-margin-b-50">
        <div class="margin-b-20">
            <div class="">
                <img class="img-responsive"
                    src="img/Compressed Images/Compressed Pictures1/SkateTracker Main Page.png"
                    alt="SkateTracker Main">
            </div>
        </div>
        <h4><a href="https://skatetracker.herokuapp.com/">SkateTracker</a><span
                class="text-uppercase margin-l-20">Completed 2019</span></h4>
        <p>SkateTracker is a full-stack web application that I made so that I could reliably keep track of
            the progress that I've made doing something that I love! </p>
        <p><strong>Techologies Used: </strong> React.js, JavaScript, Python, Django, HTML5, CSS3, Sqlite</p>
        <a class="link" href="https://github.com/jalani2727/SkateTracker">Github Repo</a>
    </div>

    <div class="col-lg-12 col-md-12 md-margin-b-50 col-sm-12 sm-margin-b-50">
        <div class="margin-b-20">
            <div class="">
                <img class="img-responsive" src="img/eCommerce Screenshot.png" alt="eCommerce">
            </div>
        </div>
        <h4>Moonlight Feather eCommerce App <span class="text-uppercase margin-l-20">Completed 2019</span>
        </h4>
        <p>An app used to import orders from MoonlightFeather’s BigCommerce API and display them on a
            webpage. Built the database as well as all views and templates to show thousands of orders
            within a given datetime range on a paginated table display. </p>
        <p><strong>Techologies Used: </strong> Python, Django, HTML5, CSS3, Sqlite, BigCommerce API</p>
        <a class="link">Private Information Displayed - Repo Unavailable</a>
    </div>

    <div class="col-lg-12 col-md-12 md-margin-b-50 col-sm-12 sm-margin-b-50">
        <div class="margin-b-20">
            <div class="">
                <img class="img-responsive" src="img/Compressed Images/Compressed Pictures1/choppdt.png"
                    alt="CHOPPDT Landing Page">
            </div>
        </div>
        <h4><a href="https://choppdt.surge.sh">CHOPPDT</a> <span
                class="text-uppercase margin-l-20">Completed 2018</span></h4>
        <p>Choppdt allows users to hold their own version of the popular Food Network show Chopped by giving
            them randomized ingredient lists and challenging them to invent their own dishes.</p>
        <p><strong>Techologies Used: </strong> React.js, JavaScript, HTML5, CSS3</p>
        <a class="link" href="https://github.com/jalani2727/CHOPPDT">Github Repo</a>
    </div>

    <div class="col-lg-12 col-md-12 md-margin-b-50 col-sm-12 sm-margin-b-50">
        <div class="margin-b-20">
            <div class="">
                <img class="img-responsive" src="img/Compressed Images/Compressed Pictures1/mysophobia.png"
                    alt="Mysophobia Home Page">
            </div>
        </div>
        <h4><a href="https://jalani2727.github.io/Mysophobia/">Mysophobia</a> <span
                class="text-uppercase margin-l-20">Completed 2018</span></h4>
        <p>Mysophobia allows users to search for restaurants and hotels while filtering out those with
            health scores below a minimum set by the user. </p>
        <p><strong>Techologies Used: </strong> JavaScript, BootStrap, HTML5, CSS, jQuery, Google Maps API,
            Google Streetviews, Geocoding</p>
        <a class="link" href="https://github.com/jalani2727/Mysophobia">Github Repo</a>
    </div>

</div>

