@font-face{
    font-family: "CaviarDreams";
    src: url("Fonts/caviar_dreams/CaviarDreams.ttf")
  }
  @font-face{
    font-family: "CaviarBold";
    src: url("Fonts/caviar_dreams/CaviarDreams_Bold.ttf")
  }
  @font-face{
    font-family: "CaviarItalic";
    src: url("Fonts/caviar_dreams/CaviarDreams_Italic.ttf")
  }

body{
    margin-top: 10px;
    margin-bottom: 10px;

    border-top:45px solid rgb(110,21,21);
    /* border-bottom:45px solid rgb(110,21,21); */
   font-family: "CaviarBold";
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:8px;
    border-bottom: 3px solid rgb(110,21,21);
}
a {
    color: rgb(110,21,21);
}
.rightSide h1 {
    /* text-decoration: none; */
    font-size: 28px;
    color: rgb(110,21,21);
}
.rightSide h2 {
    font-size: 18px;
    width:90%;
    text-align: center;
}
h1 {
    text-decoration: underline;
    font-size: 32px;
    color: rgb(110,21,21);
}
header h2{
    font-style: normal;
    font-weight: bold;
    font-size: 63px;
    color: rgb(110,21,21);
}
h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 21px;
}
h3 {
    font-size: 16px;
    color: rgb(110,21,21);
}

ul {
    font-size: 17px;
}


.imageContainer {
    padding-top:8px;
    width: 250px;
    height: 250px;
}
.img-fluid {
    object-fit: contain;
    height:90%;

    border: 4px solid rgb(110,21,21);
    border-radius: 50%;
}



.rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    

    /* justify-content: center; */
    height:90%;
    /* border-left: 3px solid rgb(110,21,21); */
    margin-top: 15px;
    margin-bottom: 5px;
    padding-bottom: 15px;

}

.rightSide a{
    font-size: 28px;
    font-weight: bold;
    color: rgb(42, 32, 189);
}