@font-face{
    font-family: "CaviarDreams";
    src: url("Fonts/caviar_dreams/CaviarDreams.ttf")
  }
  @font-face{
    font-family: "CaviarBold";
    src: url("Fonts/caviar_dreams/CaviarDreams_Bold.ttf")
  }
  @font-face{
    font-family: "CaviarItalic";
    src: url("Fonts/caviar_dreams/CaviarDreams_Italic.ttf")
  }

  body{
      font-family: "CaviarBold";
  }