.rightHeader {
    background: url('../images/roses1.png') left center no-repeat white;
    background-size: 55%;
    min-height: 320px;
    color: rgb(110, 21, 21);
    text-shadow:
		-2px -2px 0 rgb(224, 223, 223),
		2px -2px 0 rgb(255,255,255),
		-2px 2px 0 rgb(255,255,255),
    2px 2px 0 rgb(255,255,255);
  
    font-size: 1.6em;
    text-align: right;
    padding-right: 2%;
  }
.rightHeader h1{
    margin-top: 0;
    
<<<<<<< HEAD
    font-family: 'CaviarDreams';
    font-size: 125px;
  }
.rightHeader h2{
    margin-top: 50px;
    font-family: 'CaviarDreams';
    font-size: 55px;
    text-align: center;
=======
    font-family: 'LemonJelly';
    font-size: 150px;
  }
.rightHeader h2{
    margin-top: 50px;
    font-family: 'LemonJelly';
    font-size: 75px;
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd
}
.rightHeader i{
  margin-top: 10px;
  font-size: 25px;
}

section h2 {
  color: rgb(229, 175, 28);
  text-align: center;
  font-size: 45px;
<<<<<<< HEAD
  font-family: 'CaviarDreams';
=======
  font-family: 'LemonJelly';
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd
}
section button {
  color:rgb(110, 21, 21);
}

section h3 {
  color: rgb(229, 175, 28);
  font-size:15px;
  text-align: center;
}
.projectLink {
  color: rgb(229, 175, 28);
<<<<<<< HEAD
  font-family: "CaviarDreams";
  font-size: 40px;
  margin-left: 10px;
=======
  font-family: "LemonJelly";
  font-size: 100px;
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd

}

.imageContainer {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    align-items: initial;
=======
    align-items: center;
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd
    justify-content: space-evenly;

    padding-top: 8px;
    height: 250px;
}
.img-fluid {
  object-fit: contain;
  height:80%;

<<<<<<< HEAD
  /* border: 4px solid rgb(189, 32, 32); */
=======
  border: 4px solid rgb(189, 32, 32);
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd
  /* border-radius: 50%; */
}

.tldrButton{
  color:rgb(110, 21, 21);
}
.tldrContent{
  display: none;
}
.fullEssay{
<<<<<<< HEAD
  margin-left: 10px;
=======
  
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd
}
i {
  text-align: center;
}