.rightHeader {
    background: url('../images/roses1.png') left center no-repeat white;
    background-size: 55%;
    min-height: 320px;
    color: rgb(110, 21, 21);
    text-shadow:
		-2px -2px 0 rgb(224, 223, 223),
		2px -2px 0 rgb(255,255,255),
		-2px 2px 0 rgb(255,255,255),
    2px 2px 0 rgb(255,255,255);
  
    font-size: 1.6em;
    text-align: right;
    padding-right: 2%;
  }
.rightHeader h1{
    margin-top: 0;
    
    font-family: 'LemonJelly';
    font-size: 150px;
  }
.rightHeader h2{
    margin-top: 50px;
    font-family: 'LemonJelly';
    font-size: 75px;
}
.rightHeader i{
  margin-top: 10px;
  font-size: 25px;
}

section h2 {
  color: rgb(229, 175, 28);
  text-align: center;
  font-size: 45px;
  font-family: 'LemonJelly';
}
section button {
  color:rgb(110, 21, 21);
}

section h3 {
  color: rgb(229, 175, 28);
  font-size:15px;
  text-align: center;
}
.projectLink {
  color: rgb(229, 175, 28);
  font-family: "LemonJelly";
  font-size: 100px;

}

.tldrButton{
  color:rgb(110, 21, 21);
}
.tldrContent{
  display: none;
}
.fullEssay{
  
}
i {
  text-align: center;
}