html {
    font-size: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: #efefef;
    font-family: Lato, sans-serif;
    color: #4e4e4e;
    margin: 0;
    padding: 0;
  }
  pre {
    background: white;
    margin: 1em;
    padding: 1em;
  }
  h1,
  h2,
  h3,
  h4 {}
  
  a {
    text-decoration: none;
    color: inherit
  }
  
  a:hover {
    color: #E55B1C
  }
  
  .highlight-inline {
    display: inline;
    background-color: black;
    color: white;
    padding: 2px;
    line-height: 1.62em;
    /* box-shadow: 10px 0 0 black, -10px 0 0 black;*/
    
    box-decoration-break: clone;
  }
  
  #header {
    position: fixed;
    width: 125px;
    background: rgb(110, 21, 21);
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.25);
    color: rgb(255, 254, 254);
  }
  
  
  
  #header ul {
    list-style-type: none;
    width: inherit;
  }
  
  #header ul li {
    padding: 0 12px 3px 0;
    white-space: nowrap;
    font-size: 0.98em;
    font-weight: 700;
    text-align: right;
  }
  
  #head footer {}
  
  #logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background: rgb(92, 92, 92);
    text-align: center;
    font-size: 36px;
    line-height: 98px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #logo:hover {
    background: #404040;
  }
  
  #content {
    font-size: 1.20em;
    font-weight: 300;
    background: pink;
    margin-left: 126px;
    padding-left: 0em;
  }
  
  #hero {
    background: url('../images/right-side-image.jpg') left center no-repeat black;
    background-size: 95%;
    min-height: 320px;
    color: gray;
    font-size: 1.6em;
    text-align: right;
    padding-right: 2%;
  }
  
  
  
  @media screen and (max-width: 640px) {
    #header {
      height: 125px;
      display: table;
      width: 100%;
    }
    #header ul li {
      display: inline;
    }
    #content  {
      margin-left: 0;
      margin-top: 125px;
    }
  }