@font-face {
  font-family: "LemonJelly"; 
  src: url("../styles/Fonts/billy-argel_lemon-jelly-personal-use/Lemon\ Jelly\ Personal\ Use.ttf");
}

html {
    font-size: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: #efefef;
    font-family: Lato, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  pre {
    background: white;
    margin: 1em;
    padding: 1em;
  }

  
  a {
    text-decoration: none;
    color: inherit
  }
  
  a:hover {
    color: #E55B1C
  }
  
  .highlight-inline {
    display: inline;
    background-color: white;
    color: white;
    padding: 2px;
    line-height: 1.62em;
    /* box-shadow: 10px 0 0 black, -10px 0 0 black;*/
    
    box-decoration-break: clone;
  }
  
  #sideHeader {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 125px;
    background: rgb(110, 21, 21);
    top: 0;
    bottom: 0;
    left: 0;
    text-align: right;
    justify-content: space-between;
   
    box-shadow: 3px 0 5px rgba(255, 255, 255, 0.25);
    color: rgb(255, 254, 254);
  }
  
  
  
  #sideHeader ul {
    list-style-type: none;
    width: 90%;
    
  }
  
  #sideHeader ul li {
    padding: 0 4px 3px 0;
    white-space: nowrap;
    font-size: 0.98em;
    font-weight: 700;
    text-align: right;
  }
  
  #sideHeader footer {
      /* lol */
  }
  
  #logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background: rgb(229, 175, 28);
    text-align: center;
    font-family: 'LemonJelly';
    font-size: 36px;
    line-height: 98px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #logo:hover {
    background: #404040;
  }
  
  #content {
    font-size: 1.20em;
    font-weight: 300;
    background: black;
    margin-left: 126px;
    padding-left: 0em;
  }
  #content section  {
    padding-left: 1em;
    padding-bottom: 3em
}
  
  /* #rightHeader {
    background: url('../images/roses1.png') left center no-repeat white;
    background-size: 55%;
    min-height: 320px;
    color: rgb(110, 21, 21);
    text-shadow:
		-2px -2px 0 rgb(224, 223, 223),
		2px -2px 0 rgb(255,255,255),
		-2px 2px 0 rgb(255,255,255),
		2px 2px 0 rgb(255,255,255);
    font-size: 1.6em;
    text-align: right;
    padding-right: 2%;
  }
#rightHeader h1{
    margin-top: 0;
    
    font-family: 'LemonJelly';
    font-size: 100px;
  }  
#rightHeader h2{
  margin-top: 95px;
  font-family: 'LemonJelly';
  font-size: 75px;
} */


  
  
  @media screen and (max-width: 640px) {
    #sideHeader {
      height: 125px;
      display: table;
      width: 100%;
    }
    #sideHeader ul li {
      display: inline;
    }
    #content  {
      margin-left: 0;
      margin-top: 125px;
    }
    #rightHeader {
        min-height: 150px;
        background-size: 110%;
    }
    #rightHeader h1, #rightHeader h2{
        display:none;
    }

  }