html {
    font-size: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    background: #efefef;
    font-family: Lato, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  pre {
    background: white;
    margin: 1em;
    padding: 1em;
  }

  
  a {
    text-decoration: none;
    color: inherit
  }
  
  a:hover {
    color: #E55B1C
  }
  
  .highlight-inline {
    display: inline;
    background-color: white;
    color: white;
    padding: 2px;
    line-height: 1.62em;
    /* box-shadow: 10px 0 0 black, -10px 0 0 black;*/
    
    box-decoration-break: clone;
  }
  
  #header {
    position: fixed;
    width: 125px;
    background: rgb(110, 21, 21);
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 0 5px rgba(255, 255, 255, 0.25);
    color: rgb(255, 254, 254);
  }
  
  
  
  #header ul {
    list-style-type: none;
    width: inherit;
  }
  
  #header ul li {
    padding: 0 12px 3px 0;
    white-space: nowrap;
    font-size: 0.98em;
    font-weight: 700;
    text-align: right;
  }
  
  #head footer {
      /* lol */
  }
  
  #logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    background: rgb(92, 92, 92);
    text-align: center;
    font-size: 36px;
    line-height: 98px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #logo:hover {
    background: #404040;
  }
  
  #content {
    font-size: 1.20em;
    font-weight: 300;
    background: black;
    margin-left: 126px;
    padding-left: 0em;
  }
  
  #hero {
    background: url('../images/roses1.png') left center no-repeat white;
    background-size: 85%;
    min-height: 320px;
    color: rgb(110, 21, 21);
    text-shadow:
		-1px -1px 0 rgb(224, 223, 223),
		1px -1px 0 rgb(255,255,255),
		-1px 1px 0 rgb(255,255,255),
		1px 1px 0 rgb(255,255,255);
    font-size: 1.6em;
    text-align: right;
    padding-right: 2%;
  }
  #content section {
      padding-left: 10px;
  }
  
  
  @media screen and (max-width: 640px) {
    #header {
      height: 125px;
      display: table;
      width: 100%;
    }
    #header ul li {
      display: inline;
    }
    #content  {
      margin-left: 0;
      margin-top: 125px;
    }
    #hero {
        min-height: 150px;
        background-size: 110%;
    }
    #hero h1, #hero h2{
        display:none;
    }

  }