body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    padding-top:8px;
}
a {
    color: rgb(229, 175, 28);
}
h1 {
    font-size: 29px;
    color: rgb(189, 32, 32);
}
header h2{
    font-weight: bold;
    font-size: 75px;
    color: rgb(189, 32, 32);
}
h2 {
    font-weight: bold;
    font-size: 20px;
}
h3 {
    font-size: 13px;
    color: rgb(229, 175, 28);
}

ul {
    font-size: 15px;
}


.imageContainer {
    padding-top:8px;
    width: 250px;
    height: 250px;
}
.img-fluid {
    object-fit: contain;
    height:90%;

    border: 4px solid rgb(189, 32, 32);
    border-radius: 50%;
}


#resumecontent {
    font-size: 1.20em;
    font-weight: 300;
    background: black;
    margin-left: 126px;
    padding-left: 0em;
}
#resumecontent  {
    padding-left: 1em;
    padding-bottom: 3em
}


.col-lg-3 section a{
    font-size: 20px;
    font-weight: bold;
    color: rgb(189, 32, 32);
}

#rightSide {
    background-color: rgb(229, 175, 28);
}

.contactInfo{
    text-align: center;
}