body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

<<<<<<< HEAD
    font-family: 'CaviarItalic';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    /* letter-spacing: 1.4px; */
=======
    font-family: 'LemonJelly';
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    letter-spacing: 1.4px;
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd

    padding-top:8px;
    color: rgb(229, 175, 28);
}
a {
    color: rgb(229, 175, 28);
}
h1 {
<<<<<<< HEAD
    font-family: 'CaviarBold';
    font-size: 30px;
    color: rgb(165, 27, 27);
=======
    font-family: 'LemonJelly';
    font-size: 50px;
    color: rgb(189, 32, 32);
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd
}

h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
h3 {
    font-size: 13px;
    font-style: italic;
    color: rgb(229, 175, 28);
}

section ul {
<<<<<<< HEAD
    font-size: 14px;
}
p {
    font-size: 14px;
=======
    font-size: 18px;
}
p {
    font-size: 18px;
>>>>>>> 99f36c265a6c6d7d8ddfc81bd60124dc15090dfd
}

.imageContainer {
    padding-top:8px;
    width: 250px;
    height: 250px;
}
.img-fluid {
    object-fit: contain;
    height:90%;

    border: 4px solid rgb(189, 32, 32);
    /* border-radius: 50%; */
}




#rightSide {
    background-color: white;
    color:rgb(229, 175, 28);
}
#rightSide a{
    /* color:#E55B1C;     */
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.contactInfo{
    text-align: center;
}