.skillsContent {
    display: flex;
    flex-direction: column;

    font-size: 1.20em;
    font-weight: 300;
    background: white;
    margin-left: 126px !important;
    padding-left: 0em;
  }
.skillsContent section  {
    padding-left: 1em;
    padding-bottom: 3em
}

.skillsIHave{
    border-bottom: 3px dashed rgb(110, 21, 21);
}